In [1]:
import pandas as pd
import os

In [3]:
os.getcwd()

'C:\\Users\\James\\Documents\\GitHub\\Doit_Python'

In [4]:
path = 'C:\\Users\\James\\Documents\\GitHub\\Doit_Python\\Data'
os.chdir(path)
os.getcwd()

'C:\\Users\\James\\Documents\\GitHub\\Doit_Python\\Data'

In [10]:
mpg_raw = pd.read_csv('mpg.csv')
mpg = mpg_raw.copy()
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [13]:
mpg.groupby(['manufacturer', 'drv']).agg(n = ('drv', 'count'))

                   n
manufacturer drv
audi         4    11
             f     7
chevrolet    4     4
             f     5
             r    10
dodge        4    26
             f    11
ford         4    13
             r    12
honda        f     9
hyundai      f    14
jeep         4     8
land rover   4     4
lincoln      r     3
mercury      4     4
nissan       4     4
             f     9
pontiac      f     5
subaru       4    14
toyota       4    15
             f    19
volkswagen   f    27

In [8]:
mpg.groupby('manufacturer')['drv'].nunique()

manufacturer
audi          2
chevrolet     3
dodge         2
ford          2
honda         1
hyundai       1
jeep          1
land rover    1
lincoln       1
mercury       1
nissan        2
pontiac       1
subaru        1
toyota        2
volkswagen    1
Name: drv, dtype: int64

In [14]:
mpg.groupby('manufacturer')['drv'].count()

manufacturer
audi          18
chevrolet     19
dodge         37
ford          25
honda          9
hyundai       14
jeep           8
land rover     4
lincoln        3
mercury        4
nissan        13
pontiac        5
subaru        14
toyota        34
volkswagen    27
Name: drv, dtype: int64