# Ch-04. 데이터프레임의 세계로!
## 04-2. 데이터프레임 만들기 (skip 04-1)

In [7]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'name'    : ['김지훈', '이유진', '박동현', '김민지'],
                   'english' : [90, 80, 60, 70],
                   'math'    : [50, 60, 100,20]})
df

In [ ]:
df['english']

In [ ]:
sum(df['english'])

In [ ]:
sum(df['math'])

In [ ]:
sum(df['english']) / len(df)

In [ ]:
sum(df['math']) / len(df)

In [ ]:
# p.84 - Q1
df_fruit = pd.DataFrame({'제품'   : ['사과', '딸기', '수박'],
                         '가격'   : [1800, 1500, 3000],
                         '판매량' : [24, 38, 13]})
df_fruit

In [ ]:
# p.84 - Q2
sum(df_fruit['가격']) / len(df_fruit)

In [ ]:
sum(df_fruit['판매량']) / len(df_fruit)

## 04-3. 외부 데이터 이용하기

In [2]:
import os

In [3]:
# 작업 경로 변경
os.getcwd()

'C:\\Users\\user\\Documents\\GitHub\\Doit_Python'

In [5]:
path = 'C:\\Users\\user\\Documents\\GitHub\\Doit_Python\\Data'
os.chdir(path)
os.getcwd()

'C:\\Users\\user\\Documents\\GitHub\\Doit_Python\\Data'

### - (p.85) 엑셀파일 불러오기

In [9]:
df_exam = pd.read_excel('excel_exam.xlsx')
df_exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [12]:
df_exam.shape

(20, 5)

In [13]:
len(df_exam)

20

In [10]:
sum(df_exam['english']) / len(df_exam)

84.9

In [16]:
sum(df_exam['science']) / len(df_exam)

59.45

In [19]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx')
df_exam_novar.head()

   1  1.1  50  98  50.1
0  2    1  60  97    60
1  3    2  25  80    65
2  4    2  50  89    98
3  5    3  20  98    15
4  6    3  50  98    45

### - (p.88) 첫 번째 행이 변수명이 아닐 때

In [20]:
df_exam_novar = pd.read_excel('excel_exam_novar.xlsx', header = None)
df_exam_novar.head()

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15

### - (p.90) 시트가 여러 개 있을 때

In [25]:
# 시트 이름으로
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name = 'Sheet1')
df_exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

In [27]:
# 시트 순서로
df_exam = pd.read_excel('excel_exam.xlsx', sheet_name = 0)
df_exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

### - (p.90) CSV 파일 불러오기

In [30]:
df_csv_exam = pd.read_csv('exam.csv')
df_csv_exam.head()

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65

### - (p.92) CSV 파일로 저장하기

In [32]:
df_midterm = pd.DataFrame({'english' : [90, 80, 60, 70],
                           'math'    : [50, 60, 100, 20],
                           'nclass'  : [1, 1, 2, 2]})
df_midterm.head()

   english  math  nclass
0       90    50       1
1       80    60       1
2       60   100       2
3       70    20       2

In [36]:
# 이렇게 하면 index 열도 생성된다
df_midterm.to_csv('output_midterm.csv')

In [37]:
# index 제외하고 생성
df_midterm.to_csv('output_midterm_noindex.csv', index = False)

## End.